################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WordleGen/obj
/WordleGen/bin
/Wordlerererer.App/.vs
/Wordlerererer.App/bin
/Wordlerererer.App/obj
